.pastille {
  border-radius: 2rem;
  color: #fff;
  font-weight: 500;
  padding: .7rem;
}

.calculé {
  background-color: #9AB938;
}

.non_calculé {
  background-color: #369AEE;
}

.middle {
  line-height: 3.5rem;
}

.fix {
  height: 6rem;
}
